body {
	font-family: Arial, Helvetica, sans-serif;
}

div {
	border: 2px solid;
}

#header {

}

#menu {

}

#body {

}

li {
	line-height: 1.4em;
	text-align: justify;
	list-style-type: none;
	display: inline;
	padding: 1.5em;
}