body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FEDFD6;
}

div {
	border: 1px solid;
	margin: 2px;
}
div.menu {
	color: blue;
	top: 10px;
	right: 10px;
	left: 10px;
	position: fixed;
}

div.time {
	color: red;
	top: 67px;
	right: 1090px;
	left: 10px;
	position: fixed;
	padding: 2px;
}

div.main {
	color: green;
	top: 67px;
	left: 115px;
	right: 10px;
	position: absolute;
	padding: 2px;
}

ul {
	text-align: center;
}

li {
	/*margin-right: 10px;
	text-align: justify;*/
	line-height: 1.4em;
	list-style-type: none;
	display: inline;
	padding: 5px;
}